/* =========================
   FOOTER
========================= */
.footer-bg {
  background-color: var(--secondary-interface-color);
}

table.table td,
table.table th {
  background-color: transparent;
  color: white;
}