/* =========================
   FOOTER
========================= */
.footer-bg {
  background-color: var(--secondary-interface-color);
}

.breadcrumbs-section {
    background-color: #ebeef1;
    padding: 15px 0;
}

.breadcrumbs a {
    color: #333;
    font-size: 20px;
    text-decoration: none;
}

.breadcrumbs a:hover {
    text-decoration: none;
    color: var(--secondary-color);
}

.breadcrumbs span {
    font-size: 20px;
    color: #777;
}

table.table td,
table.table th {
  background-color: transparent;
  color: white;
}